<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="searchUrl = ${(#strings.isEmpty(param.search)) ?  '' : '?search='+param.search} , 
		resetSortUrl = ${  searchUrl + ((#strings.isEmpty(searchUrl) ? '?' : '&') 
			+ (#strings.isEmpty(param.price) ? '' : 'price='+param.price+'&') + ('sx='))  },
		filterUrl = ${ searchUrl + ( !#strings.isEmpty(searchUrl) ? '&' : '?' )
			+ ((!#strings.isEmpty(param.sx)) ? 'sx='+param.sx+'&' : '')  },
		paginationUrl = ${ searchUrl + ( !#strings.isEmpty(searchUrl) ? '&' : '?' )
			+ (#strings.isEmpty(param.price) ? '' : 'price='+param.price+'&')
			+ ((!#strings.isEmpty(param.sx)) ? 'sx='+param.sx+'&' : '')  }">
<head>
<th:block
	th:replace="/admin/part/_head.html :: head(title ='Danh sách hãng sản xuất')" />
<link href="/vendor/datatables-plugins/dataTables.bootstrap.css"
	rel="stylesheet">
<link href="/vendor/datatables-responsive/dataTables.responsive.css"
	rel="stylesheet">
</head>
<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">

			<th:block th:replace="/admin/part/_nav.html :: header" />

			<th:block th:replace="/admin/part/_nav.html :: slideMenu" />

			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Tất cả hãng</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="panel panel-default">
                        <div class="panel-heading">
                            Tạo mới
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" method="post" th:object="${manufacturer}" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Tên hãng</label>
                                            <input th:field="*{name}" class="form-control">
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            <label>Slug</label>
                                            <input disabled="disabled" th:field="*{slug}" class="form-control">
                                            <p class="help-block">URL các sản phẩm của hãng có dạng '/hang-dt/{slug}.{id}/'.</p>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Quốc gia</label>
                                            <input th:field="*{country}" class="form-control">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Ảnh</label>
                                            	<select name="imageType" id="imageType" onchange="onSelectChange()">
        											<option value="fromURL">Nhập URL
        											<option value="upload">Upload  
											    </select>
                                            <input th:field="*{image}"  class="form-control" placeholder="URL">
                                            <input id="upload" class="form-control" name="fileImage" type="file" accept="image/png, image/jpeg, image/jpg" />
                                            <p class="help-block">Upload ảnh hoặc nhập URL.</p>
                                        </div>
                                        
                                        
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							[[${manufacturers.size()}]] hãng sản xuất
						</div>
						<div class="panel-body">
							<div id="dataTables-example_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap no-footer">
								<div class="row">
									<div class="col-sm-4">
										<!--  <div class="dataTables_length" id="dataTables-example_length">
											<label>Show <select name="dataTables-example_length"
												aria-controls="dataTables-example"
												class="form-control input-sm">
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option></select> entries
											</label>
										</div>-->
									</div>
									<div class="col-sm-8">
										<!--<div id="dataTables-example_filter" class="dataTables_filter">
											<form method="get">
												<label>Search:<input type="search"
													class="form-control input-sm" name="search" placeholder=""
													aria-controls="dataTables-example" th:value="${param.search}"></label>
												<a th:unless="${#strings.isEmpty(param.search)}" href="/admin/products" class="btn btn-link">Reset</a>
												<input type="submit" class="btn btn-info" />
											</form>
											
										</div>-->
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table width="100%"
											class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
											id="dataTables-example" role="grid"
											aria-describedby="dataTables-example_info"
											style="width: 100%;">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														style="width: 70px;" aria-sort="ascending">Tên</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														style="width: 70px;">Quốc gia</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														style="width: 70px;">Image</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														style="width: 70px;">Slug</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														style="width: 140px;">Hành động</th>
												</tr>
											</thead>
											<tbody>

												<tr role="row" th:unless="${manufacturers.size() == 0}" 
													th:each="manufacturer,iter : ${manufacturers}" th:data-id="${manufacturer.id}"
													th:class="${iter.index%2==0 ? 'gradeA odd' : 'gradeA even'}">

													<td><ath:href="${'/hang-dt/'+manufacturer.slug+'.'+manufacturer.id}">[[${manufacturer.name}]]</a></td>
													<td>[[${manufacturer.country}]]</td>
													<td class="text-center">
														<p th:if="${#strings.isEmpty(manufacturer.image)}" class="text-center">không có ảnh</p>
														<img th:unless="${#strings.isEmpty(manufacturer.image)}" th:src="${manufacturer.image}" th:alt="${manufacturer.name}"/>
													</td>
													<td>[[${manufacturer.slug}]]</td>
													<td class="center"> 
														 <a class="btn btn-warning" th:href="${'/admin/manufacturers/edit?id='+manufacturer.id}">Sửa</a>
														 <a class="btn btn-danger" th:onclick="'handleDelete('+ ${manufacturer.id} +')'" href="#">Xoá</a></td>
												</tr>
												
											</tbody>
										</table>
										<p class="text-center"role="row" th:if="${manufacturers.size() == 0}" >
											Không có kết quả nào!
										</p>
									</div>
								</div>
								

							</div>
							<!-- /.table-responsive -->


						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				
				<!-- /.col-lg-12 -->
			</div>

		</div>

	</div>


	<th:block th:replace="/admin/part/_js.html" />
	<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
	<script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
	<script>
const formatCurrency = (num) => {
	  return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(num);
} 

$('.currency').html(function () {
		const num = Number($(this).html());
		return formatCurrency(num);
	});
$('.datetime').html(function() {
	const time = new Date(($(this).html()));
	return time.toLocaleString();
})

function string_to_slug (str) {
    str = str.replace(/^\s+|\s+$/g, ''); // trim
    str = str.toLowerCase();
  
    // remove accents, swap ñ for n, etc
    var from = "àáãäâèéëêìíïîòóöôùúüûñç·/_,:;";
    var to   = "aaaaaeeeeiiiioooouuuunc------";

    for (var i=0, l=from.length ; i<l ; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
        .replace(/\s+/g, '-') // collapse whitespace and replace by -
        .replace(/-+/g, '-'); // collapse dashes

    return str;
}

$('#name').on("change", function () {
	const name = $(this).val();
	$("#slug").val(string_to_slug(name));
})

onSelectChange();
function onSelectChange() {
    var selectedValue = $('#imageType').val();    
    selectedValue == "upload" ? upload() : link();
}

function upload() {
	$("#image").val("");
    $("#image").attr("disabled", true);
    $("#upload").attr("disabled", false);
}

function link() {    
	$("#upload").val("");
	$("#image").attr("disabled", false);
    $("#upload").attr("disabled", true);
}

const handleDelete = (manufacturerId) => {
	Swal.fire({
		  title: 'Xoá hãng sản xuất?',
		  text: "Thao tác này không thể quay lại!",
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: 'Xoá!'
		}).then((result) => {
		  if (result.isConfirmed) {
			  if (Number(manufacturerId) == 0) {
				  Swal.fire(
					      'Thất bại!',
					      'Không thể xoá brand mặc định.',
					      'error'
					)
					return;
			  }
				  
			  $.ajax({
				    url: '/admin/manufacturers/'+manufacturerId,
				    type: 'DELETE',
				    success: function(result) {
				    	$("tr[data-id=" + manufacturerId + "]").remove();
				    	Swal.fire(
				  		      'Đã xoá!',
				  		      'Các sản phẩm của hãng cũ đã chuyển sang "no-brand".',
				  		      'success'
				  		    )
				    },
				    error : function(error) {
				    	alert("Không thể xoá")
				    }
				});
			  
		    
		  }
		})
}
</script>
</body>

</html>
