
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:replace="part/_head.html :: head(title = 'Liên hệ')" />

<link rel="stylesheet" th:href="@{/css/css_giohang.css}" type="text/css"
	media="all" />
<script type="text/javascript">
	$(function() {
		$('a[title]').tooltip();
	});
</script>

</head>

<body>
	<th:block th:replace="part/_header.html :: header_top" />
	<th:block th:replace="part/_header.html :: header_bottom" />
	<div class="faq">
		<div class="post-container container">
			<div class="post-container container row">
				<div class="col-md-8 text-justify">
					<div class="row post">
						<div class="news-thumb col-md-12">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-12">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />
					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />
					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />
					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />
					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

					<hr />
					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>
					<hr />

					<div class="text-center">
						<a href="#" class="btn btn-lg btn-primary">Xem thêm <i
							class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
					</div>

				</div>


				<div class="col-md-4">
					<h3>Bài viết hot</h3>

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/07/1358176/thumb_800x450-600x400.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Ưu đãi trợ giá mùa dịch, iPhone vẫn
								tiếp tục được giảm nóng đến bạc triệu, hàng xịn giá hời đang chờ
								các iFans săn về đây</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/03/1357203/flaship-android-thumb_800x450-300x200.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Deal hời nổi bật: 5 flagship Android
								được trợ giá hết cỡ mùa dịch, giảm đến hơn chục triệu, thấy mà
								ham</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/10/1359193/thumb2_800x450-300x200.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Redmi Note 10 5G series đạt doanh số
								khủng 1 triệu thiết bị chỉ trong 9 ngày đầu mở bán, hàng xịn giá
								thơm có khác</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/10/1359193/thumb2_800x450-300x200.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Redmi Note 10 5G series đạt doanh số
								khủng 1 triệu thiết bị chỉ trong 9 ngày đầu mở bán, hàng xịn giá
								thơm có khác</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/10/1359193/thumb2_800x450-300x200.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Redmi Note 10 5G series đạt doanh số
								khủng 1 triệu thiết bị chỉ trong 9 ngày đầu mở bán, hàng xịn giá
								thơm có khác</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

					<div class="row post">
						<div class="news-thumb col-md-4">
							<img
								src="https://cdn.tgdd.vn/Files/2021/06/10/1359193/thumb2_800x450-300x200.jpg">
						</div>
						<div class="col-md-8">
							<h4 class="news-title">Redmi Note 10 5G series đạt doanh số
								khủng 1 triệu thiết bị chỉ trong 9 ngày đầu mở bán, hàng xịn giá
								thơm có khác</h4>
							<abbr class="news-time">vừa đăng</abbr>
						</div>
					</div>

				</div>
			</div>



		</div>
	</div>

	<th:block th:replace="part/_footer.html :: newsletter" />


	<th:block th:replace="part/_footer.html :: footer" />


</body>
</html>