
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:replace="part/_head.html :: head(title = 'Liên hệ')" />

<link rel="stylesheet" th:href="@{/css/css_giohang.css}" type="text/css"
	media="all" />
<script type="text/javascript">
	$(function() {
		$('a[title]').tooltip();
	});
</script>

</head>

<body>
	<th:block th:replace="part/_header.html :: header_top" />
	<th:block th:replace="part/_header.html :: header_bottom" />
	<div class="faq">
		<div class="post-container container">
			<div class="post-container container row">
				<div id="posts-container" class="col-md-7 text-justify">
					<div th:each="post,iter : ${posts.getContent()}"
						th:if="${iter.index == 0}" class="row post">
						<div class="news-thumb col-md-12">
							<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}"> <img
								th:src="${post.avaImage}">
							</a>
						</div>
						<div class="col-md-12">
							<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}">
								<h4 class="news-title">[[${post.title}]]</h4>
							</a><i class="fa fa-calendar"></i> <abbr class="news-time ago">[[${post.createAt}]]</abbr>
							<p class="post-desciption">[[${post.description}]]</p>
						</div>
					</div>

					<hr />

					<th:block th:each="post,iter : ${posts.getContent()}"
						th:unless="${iter.index == 0}">
						<div class="row post">
							<div class="news-thumb col-md-4">
								<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}">
									<img th:src="${post.avaImage}">
								</a>
							</div>
							<div class="col-md-8">
								<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}">
									<h4 class="news-title">[[${post.title}]]</h4>
								</a><i class="fa fa-calendar"></i> <abbr class="news-time ago">[[${post.createAt}]]</abbr>

								<p class="post2-desciption">[[${post.description}]]</p>
							</div>
						</div>
						<hr />
					</th:block>

					<div id="loadmore-container" class="text-center">
						<button onclick="loadmore(1);" id="loadmore"
							class="btn btn-lg btn-primary">
							Xem thêm <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
						</button>
					</div>

				</div>


				<div class="col-md-5">
					<h3>Bài viết hot</h3>

					<div th:each="post : ${hotPosts}" class="row post">
						<div class="news-thumb col-md-4">
							<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}"> <img
								th:src="${post.avaImage}">
							</a>
						</div>
						<div class="col-md-8">
							<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}">
								<h4 class="news-title">[[${post.title}]]</h4>
							</a> <abbr class="news-time ago">[[${post.createAt}]]</abbr>
						</div>
					</div>



				</div>
			</div>



		</div>
	</div>
	<script>
		const loadmore = (pageNum) => {
			
			$.ajax({
				  type: "POST",
				  url: '/bai-viet/loadmore',
				  data: {'page' : Number(pageNum)},
				  success: function(dataBack){
					const content = dataBack.content;
					var html = content.map(item => ('<div class="row post"> <div class="news-thumb col-md-4"> <a href="/bai-viet/'+
							item.slug+'.'+item.id+'.html"> <img src="'+item.avaImage+'"> </a> </div> <div class="col-md-8"> <a href="/bai-viet/'+
							item.slug+'.'+item.id+'.html"> <h4 class="news-title">'+item.title+'</h4> </a> <abbr class="news-time ago"><i class="fa fa-calendar"></i> '+
							timeSince(Date.parse((item.createAt)))+'</abbr> <p class="post2-desciption">'+ item.description +'</p> </div> </div>')).join("");
					if (!dataBack.last)
						html += '<div id="loadmore-container" class="text-center"> <button onclick="loadmore('+ (Number(pageNum)+1) +');" id="loadmore" class="btn btn-lg btn-primary"> Xem thêm <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> </button> </div>';
					else html += '<hr /><div id="loadmore-container" class="text-center"> Đã hết bài viết!</div>'
					$('#loadmore-container').remove();
					$('#posts-container').append(html);
					
					}
				});
		}
	
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation : "slide",
				controlNav : false
			});

		});

		function timeSince(date) {
			let minute = 60;
			let hour = minute * 60;
			let day = hour * 24;
			let month = day * 30;
			let year = day * 365;

			let suffix = ' trước';

			let elapsed = Math.floor((Date.now() - date) / 1000);

			if (elapsed < minute) {
				return 'Vừa xong';
			}

			// get an array in the form of [number, string]
			let a = elapsed < hour && [ Math.floor(elapsed / minute), 'phút' ]
					|| elapsed < day && [ Math.floor(elapsed / hour), 'giờ' ]
					|| elapsed < month && [ Math.floor(elapsed / day), 'ngày' ]
					|| elapsed < year
					&& [ Math.floor(elapsed / month), 'tháng' ]
					|| [ Math.floor(elapsed / year), 'năm' ];

			// pluralise and append suffix
			return a[0] + ' ' + a[1] + (a[0] === 1 ? '' : '') + suffix;
		}

		$('.ago').html(function() {
			const dateTime = Date.parse(($(this).html()));
			return timeSince(dateTime);
		})

		$('.currency').html(function() {
			const num = Number($(this).html());
			return new Intl.NumberFormat('vi-VN', {
				style : 'currency',
				currency : 'VND'
			}).format(num);
		});
	</script>
	<th:block th:replace="part/_footer.html :: newsletter" />


	<th:block th:replace="part/_footer.html :: footer" />


</body>
</html>