
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:replace="part/_head.html :: head(title = ${post.title})" />

<link rel="stylesheet" th:href="@{/css/css_giohang.css}" type="text/css"
	media="all" />
<script type="text/javascript">
	$(function() {
		$('a[title]').tooltip();
	});
</script>

</head>

<body class="post">
	<th:block th:replace="part/_header.html :: header_top" />
	<th:block th:replace="part/_header.html :: header_bottom" />

	<div th:unless="${#strings.isEmpty(post.bannerImage)}"
		class="sub-banner"
		th:style="${'background: url(' + post.bannerImage +') no-repeat 0px 0px; background-size: cover;'}"></div>

	<div class="faq">

		<div class="post-container container">

			<div class="post-container container row">
				<div class="tabbable-panel col-md-8">
					<div class="tabbable-line">
						<div class="tab-content">
							<h1>[[${post.title}]]</h1>
							<div class="container text-left">
								<span class="info-item"><i class="fa fa-folder"></i> <a
									href="/bai-viet">Tin tức</a></span> <span class="info-item"><i
									class="fa fa-calendar"></i> <span class="ago">[[${post.createAt}]]</span></span>
								<span class="info-item"><i class="fa fa-eye"></i>
									[[${post.viewCount}]] luợt xem</span>
							</div>
							<article class="text-justify">[(${post.body})]</article>
						</div>
					</div>
				</div>


				<aside class="col-md-4">
					<div id="newposts">
						<h3>Bài viết mới</h3>
						<div class="tabbable-panel" >
						<div th:each="post : ${newestPosts}">
							<div class="row post">
								<div class="news-thumb col-md-4">
									<a
										th:href="${'/bai-viet/' + post.slug + '.' + post.id + '.html'}">
										<img th:src="${post.avaImage}">
									</a>
								</div>
								<div class="col-md-8">
									<a
										th:href="${'/bai-viet/' + post.slug + '.' + post.id + '.html'}">
										<h4 class="news-title">[[${post.title}]]</h4>
									</a> <abbr class="news-time ago">[[${post.createAt}]]</abbr>
								</div>

							</div>
						</div>
						<div class="text-right">
							<a th:href="${'/bai-viet'}" class="btn btn-lg btn-default">Xem
								thêm <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</a>
						</div>
						</div>
						
					</div>
					
					<div id="lien-he-quang-cao" class=" text-center" >
						<th:block th:if="${sideBanners != null && sideBanners.size() > 0}" th:each="banner : ${sideBanners}">
							<a th:unless="${#strings.isEmpty(banner.anchorUrl)}" th:href="${banner.anchorUrl}"
								th:title="${banner.title}" >
								<img th:src="${banner.imageUrl}" th:title="${banner.title}" th:alt="${banner.title}" />
							</a>
							<img th:if="${#strings.isEmpty(banner.anchorUrl)}" th:src="${banner.imageUrl}" th:title="${banner.title}" th:alt="${banner.title}" />
							<hr />
						</th:block>
					</div>

				</aside>
			</div>


		</div>


	</div>
	
	<div th:if="${bottomBanners != null && bottomBanners.size() > 0}" class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<th:block th:each="banner : ${bottomBanners}">
							<a th:unless="${#strings.isEmpty(banner.anchorUrl)}" th:href="${banner.anchorUrl}"
								th:title="${banner.title}" >
								<img style="width:unset; max-width:800px;margin: 15px 0" th:src="${banner.imageUrl}" th:title="${banner.title}" th:alt="${banner.title}" />
							</a>
							<img style="width:unset; max-width:800px;margin: 15px 0" th:if="${#strings.isEmpty(banner.anchorUrl)}" th:src="${banner.imageUrl}" th:title="${banner.title}" th:alt="${banner.title}" />
							<hr />
						</th:block>
					</div>
				</div>
			</div>

	<div class="container">
		<div class="products news">
			<h3>Bài liên quan</h3>
			<div class="row post">
				<div th:each="post : ${randomPosts}" class="col-md-3">
					<a th:href="${'/bai-viet/'+post.slug+'.'+post.id+'.html'}"> <img
						th:src="${post.avaImage}">
						<h4 class="news-title">[[${post.title}]]</h4>
					</a> <abbr class="news-time ago">[[${post.createAt}]]</abbr>
				</div>

				<div class="clearfix"></div>
			</div>


		</div>


	</div>
	<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation : "slide",
				controlNav : false
			});

		});

		function timeSince(date) {
			let minute = 60;
			let hour = minute * 60;
			let day = hour * 24;
			let month = day * 30;
			let year = day * 365;

			let suffix = ' trước';

			let elapsed = Math.floor((Date.now() - date) / 1000);

			if (elapsed < minute) {
				return 'Vừa xong';
			}

			// get an array in the form of [number, string]
			let a = elapsed < hour && [ Math.floor(elapsed / minute), 'phút' ]
					|| elapsed < day && [ Math.floor(elapsed / hour), 'giờ' ]
					|| elapsed < month && [ Math.floor(elapsed / day), 'ngày' ]
					|| elapsed < year
					&& [ Math.floor(elapsed / month), 'tháng' ]
					|| [ Math.floor(elapsed / year), 'năm' ];

			// pluralise and append suffix
			return a[0] + ' ' + a[1] + (a[0] === 1 ? '' : '') + suffix;
		}

		$('.ago').html(function() {
			const dateTime = Date.parse(($(this).html()));
			return timeSince(dateTime);
		})

		$('.currency').html(function() {
			const num = Number($(this).html());
			return new Intl.NumberFormat('vi-VN', {
				style : 'currency',
				currency : 'VND'
			}).format(num);
		});
	</script>
	<th:block th:replace="part/_footer.html :: newsletter" />
	<th:block th:replace="part/_footer.html :: footer" />
	<style>
article img {
	width: unset;
	max-width: 640px;
}
</style>
</body>
</html>