<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js">
	<!-- jQuery -->
	<script src="/js/jquery-1.11.1.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="/vendor/metisMenu/metisMenu.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<!-- M<script src="../vendor/raphael/raphael.min.js"></script>-->
	<script src="/vendor/morrisjs/morris.min.js"></script>
	<!-- <script src="../data/morris-data.js"></script>-->

	<!-- Custom Theme JavaScript -->
	<script src="/js/sb-admin-2.js"></script>

</th:block>