<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)" th:remove="tag">

<title th:text="${title}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- css -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"
	media="all" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
	type="text/css" media="all" />

<link rel="stylesheet" th:href="@{/css/cssplus.css}" type="text/css"
	media="all" />
<!--// css -->

<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
	rel="stylesheet">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css'>
<!-- //font -->

<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

<script th:src="@{/js/jsplus.js}"></script>

<!--shorten jquery-->
<script th:src="@{/js/jquery.shorten.js}"></script>

<!--sweet alert-->
<script th:src="@{/js/sweetalert2.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">

<!--animate-->
<link rel="stylesheet" th:href="@{/css/animate.css}">

<!--flex slider-->
<script defer th:src="@{/js/jquery.flexslider.js}"></script>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css"
	media="screen" />


<script th:src="@{/js/imagezoom.js}"></script>

<script th:src="@{/js/kiemtra.js}"></script>

</head>