
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="part/_head.html :: head(title = 'Xác thực')" />

<link rel="stylesheet" th:href="@{/css/css_giohang.css}" type="text/css"
	media="all" />
<script type="text/javascript">
	$(function() {
		$('a[title]').tooltip();
	});
</script>

</head>

<body>
	<th:block th:replace="part/_header.html :: header_top" />
	<th:block th:replace="part/_header.html :: header_bottom" />

	<div class="content">
		<div class="container">

			<section>
				<div class="container">
					<div class="srow">
						<div class="board">
							<th:block th:replace="part/_nav.html :: nav(tab=2)" />

							<div class="tab-content">
								<!-- 2. đăng nhập, xác thực -->
								<div
									th:with="isLoggedIn = ${#authorization.expression('isAuthenticated()')}"
									class="tab-pane fade in active" id="xac-thuc">
									<!--đã đăng nhập-->
									<th:block th:if="${isLoggedIn}">
										<div class="row">
											<h2 class="text-center">Thông tin người đặt hàng</h2>
											<hr>
											<div class="col-md-6 col-md-offset-4">
											<blockquote>
												<p class="p5">
													<strong>Họ và tên: </strong>[[${user.fullname}]]
												</p>
												<p>
													<strong>Địa chỉ: </strong>
													<th:block th:if="${cart.address== null || #strings.equals(cart.address,'')}" th:text="${user.address + 'Thành phố: ' + user.city}"/>
													<th:block th:unless="${cart.address== null || #strings.equals(cart.address,'')}" th:text="${cart.address}"/>
												</p>
												<p>
													<strong>Số điện thoại: </strong>
													<th:block th:if="${cart.phone== null || #strings.equals(cart.phone,'')}" th:text="${user.phone}"/>
													<th:block th:unless="${cart.phone== null || #strings.equals(cart.phone,'')}" th:text="${cart.phone}"/>
												</p>
												<p>
													<strong>Email: </strong>[[${user.email}]]
												</p>
											</blockquote>
											</div>
										</div>
										<div class="row text-center">
											<div class="tiep-tuc">
												<a style="margin-right: 10px;" href="/gio-hang" class="btn btn-lg btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Giỏ hàng</a>
												<a style="margin-right: 10px;" onclick="editAddressAndPhone()" class="btn btn-lg btn-primary">Sửa thông tin giao hàng</a>
												<form th:action="@{/don-hang}" method="post">
													<input type="submit" class="btn btn-lg btn-success"
														name="submit" value="Đặt hàng">
												</form>
											</div>
										</div>
										<script>
											const editAddressAndPhone = () => {
												(async () => { 
													const { value: formValues } = await Swal.fire({
													  html:
													    '<div id="editform"><h2>Sửa thông tin giao hàng</h2>'+
													    '<div class="tabbable-panel text-left">'+ 'Tên người nhận: <input disabled class="form-control" type="text" value="[[${user.fullname}]]">' +
													    'Địa chỉ: <input class="form-control" id="address" type="text" name="address" required>'+
													    'Điện thoại: <input class="form-control" id="phone" type="text" name="phone" required></div>'
													    +'</div>',
													  width: "400px",
													  focusConfirm: false,
													  showCancelButton: true,
													  preConfirm: () => {
													    return {
													    	address : ($("#address").val()),
													    	phone : ($("#phone").val())
													    }
													  },
													})
													if (!formValues)
														return;
													$.ajax({
														url: '/updatePhoneAndAddress',
														type: 'POST',
														async: false,
														data: formValues,
														//dataType: 'json',
														success: function(dataBack){
															Swal.fire("Success", "Done!", "success");
															$('blockquote').html('<p class="p5"> <strong>Họ và tên: </strong>[[${user.fullname}]] </p> <p> <strong>Địa chỉ: </strong>'+
																dataBack.address+'</p> <p> <strong>Số điện thoại: </strong>'+ dataBack.phone +' </p> <p> <strong>Email: </strong>[[${user.email}]] </p>');
														},
														error: function(error){
															alert(error.statusText);
														}
													}); //end ajax
													return false;
												})();
											}
										</script>
									</th:block>
									<div class="text-center" th:unless="${isLoggedIn}">
										<!--chưa đăng nhập-->
										<h2>
											Chúng tôi cần biết bạn <strong>là ai?</strong><br>
										</h2>
										<br>
										<h4 class="text-danger">Chọn đăng nhập nếu đã có tài
											khoản QLMobile hoặc tạo mới một tài khoản.</h4>
										<br>
										<div class="row">
											<div class="col-md-3 col-md-offset-3">
												<a class="btn btn-success btn-login" href="dang-nhap">Đăng
													nhập</a>
											</div>
											<div class="col-md-3">
												<a class="btn btn-info btn-login" href="dang-ky">Đăng ký</a>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
			</section>


		</div>
	</div>
	<style>
.btn-login {
	width: 100%;
	padding: 10px 20px;
}

.tiep-tuc {
	display: inline-flex;
	padding: 10px 20px;
}

.tiep-tuc>p {
	font-size: 22px;
	font-weight: 200;
}

input[type="radio"], input[type="checkbox"] {
	height: 17px;
	width: 35px;
}

.gia-tien {
	font-size: 22px;
	font-weight: bold;
	color: #BF360C;
}

.tong-cong {
	padding: 20px 0;
	background-color: #FFE0B2;
}

thead.gio-hang {
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
	border-top: 2px solid #c3c3c3;
	border-bottom: 2px solid #c3c3c3;
}
</style>
	</div>
	<th:block th:replace="part/_footer.html :: newsletter" />


	<th:block th:replace="part/_footer.html :: footer" />

	<script>
		$('.currency').html(function() {
			const num = Number($(this).html());
			return new Intl.NumberFormat('vi-VN', {
				style : 'currency',
				currency : 'VND'
			}).format(num);
		});
	</script>

</body>
</html>