
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="part/_head.html :: head(title = 'Đăng nhập')" />

<link rel="stylesheet" th:href="@{/css/css_giohang.css}" type="text/css"
	media="all" />
<script type="text/javascript">
	$(function() {
		$('a[title]').tooltip();
	});
</script>

</head>

<body>
	<th:block th:replace="part/_header.html :: header_top" />
	<th:block th:replace="part/_header.html :: header_bottom" />

	<div class="content">
		<div class="container">

			<div class="row">
				<div
					class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<form th:action="${'/dang-nhap'}" role="form" method="post">
						<fieldset>
							<h2>
								Đăng nhập vào <strong>QLMobile</strong>
							</h2>
							
							<div th:if="${param.out != null}" class="alert alert-dismissible  alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Đã đăng xuất.</strong> Đăng nhập lại để tiếp tục mua sắm!
							</div>
							
							<div th:if="${param.error != null}" class="alert alert-dismissible  alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Lỗi.</strong> Tên đăng nhập hoặc mật khẩu sai!
							</div>
							
							<div th:if="${param.name != null}" class="alert alert-dismissible  alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Đã đăng ký.</strong> Đăng nhập để tiếp tục!
							</div>
							
							<hr class="colorgraph">
							<div class="form-group">
								<input type="text" name="username" id="username"
									class="form-control input-lg" placeholder="Tên tài khoản"
									th:value="${param.name!=null ? param.name : ''}">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password"
									class="form-control input-lg" placeholder="Mật khẩu">
							</div>
							<div class="form-group">
								<input type="checkbox" name="remember-me" checked/>Ghi nhớ
							</div>
							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a href="dang-ky" class="btn btn-lg btn-default btn-block">Đăng
										ký</a>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<input type="submit" class="btn btn-lg btn-success btn-block"
										name="submit" value="Đăng nhập">
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>


		</div>
	</div>
	<style>
input[type="radio"], input[type="checkbox"] {
	height: 17px;
	width: 35px;
}

.gia-tien {
	font-size: 22px;
	font-weight: bold;
	color: #BF360C;
}

.tong-cong {
	padding: 20px 0;
	background-color: #FFE0B2;
}

thead.gio-hang {
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
	border-top: 2px solid #c3c3c3;
	border-bottom: 2px solid #c3c3c3;
}
</style>

	<th:block th:replace="part/_footer.html :: newsletter" />


	<th:block th:replace="part/_footer.html :: footer" />

	<script>
		$('.currency').html(function() {
			const num = Number($(this).html());
			return new Intl.NumberFormat('vi-VN', {
				style : 'currency',
				currency : 'VND'
			}).format(num);
		});
	</script>

</body>
</html>